<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
<div id="navbar">
    <nav id="navbar" class="navbar navbar-light bg-light">
        <a id="login" class="navbar-brand" href="/login/">login</a>
        <a id="register" class="navbar-brand" href="/register/">register</a>
        <a id="homepage" class="navbar-brand" href="/">homepage</a>
        <a id="contact_us" class="navbar-brand" href="/contact/">contact</a>
    </nav>
</div>
{% block main %}
{% endblock %}
</body>
</html>