<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"

</head>
<body>
<nav id="navbar" class="navbar navbar-light bg-light">
    <a id="login" class="navbar-brand" href="/login/">login</a>
    <a id="register" class="navbar-brand" href="/register/">register</a>
    <a id="homepage" class="navbar-brand" href="/">homepage</a>
</nav>
{% block main %}
{% endblock %}
</body>
</html>