<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block main %}
<div id="all_courses" class="ui raised segment">
    {% for item in courses %}
        <div class="{{ item.course_number }}_{{ item.group_number }} ui segment">
            <h>
                {{ item.name }}
            </h>
            <div>
                {{ item.department }}
            </div>
            <div>
                {% if item.second_day is 10 %}
                    {{ item.first_day }}
                {% endif %}
               {% if item.second_day is not 10 %}
                    {{ item.first_day }} to {{item.second_day}}
                {% endif %}
            </div>
            <div>
                {{ item.start_time }} to {{ item.end_time }}
            </div>
            <div>
                {{ item.teacher }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>