<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% load static %}
{% block main %}
    <center style="font-size:xx-large"> ویرایش اطلاعات
    </center>
    <form method="post" id="setting_form" class="ui form" action="{% url 'edit' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h1></h1>
        {{ form.as_p }}
        <form method="get" action="{% url "profile" %}">
            <button type="submit" id="settings" class="ui button" onclick=>
                Done!
            </button>
        </form>
    </form>
{% endblock %}
</body>
</html>