<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
{% extends 'base.html' %}

{% block main %}
  <h2>Login</h2>
  <form method="post" id="login_form" class="ui form" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
      {% if error %}
	<div id="error" class="ui red message">
		<div class="inner">
			<p>you need to register first</p>
		</div>
	</div>
{% endif %}
    <button type="submit" class="ui inverted secondary button">Login</button>
  </form>
{% endblock %}
</body>
</html>